body {
  font-family: sans-serif;
}

.container {
  max-width: 1000px; /* Limitar a largura do container */
  border: 1px solid gray; /* uma borda para visualizar o container*/
  margin: 0 auto; /* a forma de centralizar elementos Block */
}

.menu {
  display: flex; /* sapinho */
  justify-content: space-between;
}
.menu li {
  border: 1px solid #79c48c;
}

.logotipo {
  text-align: center;
}

.logotipo img {
  max-width: 200px; /* largura máxima */
  height: auto; /* altura automática garantindo a proporção */
}
