body {
  font-family: sans-serif;
}

.container {
  max-width: 1000px; /* Limitar a largura do container */
  border: 1px solid gray; /* uma borda para visualizar o container*/
  margin: 0 auto; /* a forma de centralizar elementos Block */
}
